<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GoGroc - Quality organic fruit & vegetables.</title>

  <link rel="shortcut icon" href="/media/favicon.svg" type="image/svg+xml">

  <link rel="stylesheet" href="/media/css/base.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;500;700&display=swap"
    rel="stylesheet">
  {% block head %}
  {% endblock head %}
</head>

<body id="top">
  <header class="header" data-header>

    <div class="top-bar">
      <div class="container">
        <p>Free delivery for all order</p>
      </div>
    </div>

    <div class="nav-wrapper">
      <div class="container">

        <h1 class="h1">
          <a href="{% url 'index' %}" class="logo">Go<span class="span">Groc</span></a>
        </h1>

        <button class="nav-open-btn" aria-label="Open Menu" data-nav-open-btn>
          <ion-icon name="menu-outline"></ion-icon>
        </button>

        <nav class="navbar" data-navbar>

          <button class="nav-close-btn" aria-label="Close Menu" data-nav-close-btn>
            <ion-icon name="close-outline"></ion-icon>
          </button>

          <ul class="navbar-list">

            <li>
              <a href="{% url 'index' %}" class="navbar-link">Home</a>
            </li>

            <li>
              <a href="{% url 'products' %}" class="navbar-link">Products</a>
            </li>

            <li>
              <a href="{% url 'cartPage' %}" class="navbar-link">Checkout</a>
            </li>

            <li>
              <a href="{% url 'about' %}" class="navbar-link">About</a>
            </li>

          </ul>

        </nav>

        <div class="header-action">

          <div class="search-wrapper" data-search-wrapper>

            <button class="" aria-label="Toggle search" data-search-btn>
              <ion-icon name="" class="search-icon"></ion-icon>
              <ion-icon name="" class="close-icon"></ion-icon>
            </button>

            <div class="input-wrapper">
              <input type="search" name="search" placeholder="Search here" class="search-input">

              <button class="search-submit" aria-label="Submit search">
                <ion-icon name="search-outline"></ion-icon>
              </button>
            </div>

          </div>

          {% if request.user.is_authenticated %}
          <button class="header-action-btn" aria-label="Open whishlist" data-panel-btn="whishlist">
            <ion-icon name="heart-outline"></ion-icon>

            <data class="btn-badge">{{ request.user.wishlist.count }}</data>
          </button>

          <button class="header-action-btn" aria-label="Open shopping cart" data-panel-btn="cart">
            <ion-icon name="basket-outline"></ion-icon>

            <span class="btn-badge">{{ request.user.cart.cart_items.count }}</span>
          </button>
          {% else %}
          <button class="header-action-btn" aria-label="Open whishlist" data-panel-btn="whishlist">
            <ion-icon name="heart-outline"></ion-icon>

            <data class="btn-badge">0</data>
          </button>

          <button class="header-action-btn" aria-label="Open shopping cart" data-panel-btn="cart">
            <ion-icon name="basket-outline"></ion-icon>

            <data class="btn-badge">0</data>
          </button>
          {% endif %}

          {% if request.user.is_authenticated %}
          <a href="{% url 'logout' %}" class="action-btn-login" aria-label="Logout">
            <ion-icon name="log-out-outline"></ion-icon>
          </a>
          {% else %}
          <a href="{% url 'login' %}" class="action-btn-login" aria-label="Login">
            <ion-icon name="log-in-outline"></ion-icon>
          </a>

          <a href="{% url 'register' %}" class="action-btn-login" aria-label="Sign Up">
            <ion-icon name="person-add-outline"></ion-icon>
          </a>
          {% endif %}

        </div>
      </div>
    </div>

  </header>


  <aside class="aside">

    <div class="side-panel" data-side-panel="whishlist">

      <button class="panel-close-btn" aria-label="Close whishlist" data-panel-btn="whishlist">
        <ion-icon name="close-outline"></ion-icon>
      </button>

      <ul class="panel-list">

        {% for item in wishlist_items %}
        <li class="panel-item">
          <div class="panel-card">

            <figure class="item-banner">
              <img src="/media/{{item.product.product_images.first.image}}" width="46" height="46" loading="lazy"
                alt="Bright Side Vegetarian">
            </figure>

            <div>
              <a href="{% url 'product' item.product.slug %}" class="item-title">{{item.product.name}}</a>
              <span class="item-value">₹{{ item.product.price }}</span>
            </div>

            <a href="{% url 'addToWishlist' item.product.uuid %}" class="item-close-btn" aria-label="Remove item">
              <ion-icon name="close-outline"></ion-icon>
            </a>


          </div>
        </li>
        {% endfor %}
      </ul>

    </div>

    <div class="side-panel" data-side-panel="cart">

      <button class="panel-close-btn" aria-label="Close cart" data-panel-btn="cart">
        <ion-icon name="close-outline"></ion-icon>
      </button>

      <ul class="panel-list">

        {% for item in cart_items %}
        <li class="panel-item">
          <div href="{% url 'product' item.product.slug %}" class="panel-card">

            <figure class="item-banner">
              <img src="/media/{{item.product.product_images.first.image }}" width="46" height="46" loading="lazy"
                alt="Bright Side Vegetarian">
            </figure>

            <div>
              <a href="{% url 'product' item.product.slug %}" class="item-title">{{ item.product.name }}</a>

              <span class="item-value">₹{{ item.product.price }} × {{ item.quantity }}</span>
            </div>

            <form method="POST" action="{% url 'removeFromCart' item.product.uuid %}" class="cart-form">
              {% csrf_token %}
              <button type="submit" class="item-close-btn" aria-label="Remove item">
                <ion-icon name="close-outline"></ion-icon>
              </button>
            </form>
          </div>

        </li>
        {% endfor %}
      </ul>

      <div class="subtotal">
        <p class="subtotal-text">Subtotal:</p>

        <data class="subtotal-value" value="215.14">₹{{cart_total}}</data>
      </div>

      <a href="{% url 'cartPage' %}" class="panel-btn">View Cart</a>

    </div>

  </aside>

  {% block main %}

  {% endblock main %}

  <footer class="footer">

    <div class="footer-top">
      <div class="container">

        <div class="footer-brand">

          <a href="{% url 'index' %}" class="logo">Go<span class="span">Groc</span></a>

          <p class="footer-text">
            GoGroc is your trusted source for quality organic fruits and vegetables. We are committed to delivering
            fresh produce directly to your doorstep, ensuring healthy choices for you and your family. Thank you for
            choosing us!
          </p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-skype"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Company</p>
          </li>

          <li>
            <a href="./about.html" class="footer-link">About Us</a>
          </li>

          <li>
            <a href="./shop.html" class="footer-link">Shop</a>
          </li>

          <li>
            <a href="./blog.html" class="footer-link">Blog</a>
          </li>

          <li>
            <a href="./shop.html" class="footer-link">Product</a>
          </li>

          <li>
            <a href="./contact.html" class="footer-link">Contact Us</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Contact</p>
          </li>

          <li class="footer-item">
            <div class="contact-icon">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <address class="contact-link">
              Somanahalli Kanakapura, Bengaluru 560082
            </address>
          </li>

          <li class="footer-item">
            <div class="contact-icon">
              <ion-icon name="call-outline"></ion-icon>
            </div>

            <a href="tel:+91800123456789" class="contact-link">+91 800 123 456 789</a>
          </li>

          <li class="footer-item">
            <div class="contact-icon">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <a href="mailto:gogroc351@gmail.com" class="contact-link">GoGroc@help.com</a>
          </li>

        </ul>

        <div class="footer-list">

          <p class="footer-list-title">Newsletter</p>

          <p class="newsletter-text">
            You will be notified when something new will be appear.
          </p>

          <form action="" class="footer-form">
            <input type="email" name="email" placeholder="Email Address *" required class="footer-input">

            <button type="submit" class="footer-form-btn" aria-label="Submit">
              <ion-icon name="mail-outline"></ion-icon>
            </button>
          </form>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2025 <a href="#" class="copyright-link">GoGroc</a>. All Rights Reserved.
        </p>

        <ul class="footer-bottom-list">

          <li>
            <a href="#" class="footer-bottom-link">Term and Service</a>
          </li>

          <li>
            <a href="#" class="footer-bottom-link">Privacy Policy</a>
          </li>

        </ul>

      </div>
    </div>

  </footer>

  <a href="#top" class="back-to-top" aria-label="Back to Top" data-back-top-btn>
    <ion-icon name="arrow-up-outline"></ion-icon>
  </a>

  <script src="/media/js/script.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>