.section {
    padding-block: var(--section-padding);
}

.section-subtitle {
    color: var(--emerald);
    font-family: var(--ff-playfair-display);
    font-size: var(--fs-3);
    font-style: italic;
    margin-block-end: 10px;
}

.section-subtitle,
.section-title {
    text-align: center;
}

.product {
    padding-block-start: 0;
}

.product .section-title {
    margin-block-end: 40px;
}

.product-image {
    width: 189px;
    height: 189px;
    object-fit: contain;
    padding: 5px;
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-block-end: 50px;
}

.filter-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 200px;
    background-color: var(--mint-cream);
    color: var(--gunmetal-2);
    padding: 15px 20px;
    font-size: var(--fs-5);
    font-family: var(--ff-playfair-display);
    font-weight: var(--fw-600);
}

.filter-btn.active .default,
.filter-btn .color {
    display: block;
}

.filter-btn .default,
.filter-btn.active .color {
    display: none;
}

.filter-btn.active {
    background-color: var(--emerald);
    color: var(--white);
}

.filter-btn {
    padding: 30px;
    gap: 15px;
}

.filter-btn>img {
    transform: scale(1.5);
}

.product .grid-list {
    grid-template-columns: repeat(4, 1fr);
}

