{% extends "base/base.html" %} 

{% block head %}
<link rel="stylesheet" href="/media/css/products.css" />
{% endblock head %} 

{% block main %}
<main>
  <article>
    <section class="section product">
      <div class="container">
        <p class="section-subtitle">-- Organic Products --</p>

        <h2 class="h2 section-title">All Organic Products</h2>

        <ul class="filter-list">
          <li>
            <button class="filter-btn active">
              <img src="/media/images/home/filter-1.png" width="20" alt="" class="default" />

              <img src="/media/images/home/filter-1-active.png" width="20" alt="" class="color" />

              <p class="filter-text">Fresh Vegetables</p>
            </button>
          </li>

          <li>
            <button class="filter-btn">
              <img src="/media/images/home/filter-3.png" width="20" alt="" class="default" />

              <img src="/media/images/home/filter-3-active.png" width="20" alt="" class="color" />

              <p class="filter-text">Healthy Fruit</p>
            </button>
          </li>

          <li>
            <button class="filter-btn">
              <img src="/media/images/home/filter-1.png" width="20" alt="" class="default" />

              <img src="/media/images/home/filter-1-active.png" width="20" alt="" class="color" />

              <p class="filter-text">Dairy Products</p>
            </button>
          </li>
        </ul>

        <ul class="grid-list">
          {% for product in products %}
          <li>
            <div class="product-card">
              <figure class="card-banner">
                <img class="product-image" src="/media/{{product.product_images.first.image}}" width="189" height="189" loading="lazy" alt="{{product.name}}" />
        
                <div class="btn-wrapper">
                  <button class="product-btn" aria-label="Add to Whishlist">
                    <ion-icon name="heart-outline"></ion-icon>
        
                    <div class="tooltip">Add to Whishlist</div>
                  </button>
        
                  <button class="product-btn" aria-label="Quick View">
                    <ion-icon name="eye-outline"></ion-icon>
        
                    <div class="tooltip">Quick View</div>
                  </button>
                </div>
              </figure>
        
              <div class="rating-wrapper">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>
        
              <h3 class="h4 card-title">
                <a href="{% url 'product' product.slug %}">{{product.name}}</a>
              </h3>
        
              <div class="price-wrapper">
                <del class="del">&#8377;{{product.original_price}}</del>
        
                <data class="price">&#8377;{{product.price}}</data>
              </div>
        
              <button class="btn btn-primary">Add to Cart</button>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>
  </article>
</main>
{% endblock main %}
