{% extends "base/base.html" %}

{% block head %}
<link rel="stylesheet" href="/media/css/product.css">
{% endblock head %}

{% block main %}
<main class="product-page">
    <div class="product-container">
        <div class="product-image">
            <img src="/media/{{product.product_images.first.image}}" alt="Eggs in carton" />
        </div>

        <div class="product-details">
            <h2>{{product.name}}</h2>
            <p class="price"><del>&#8377;{{original_price}}</del> <strong>&#8377;{{product.price}}</strong></p>
            <div class="price-comparison">
                <h3>Compare Prices</h3>
                <div class="price-row">
                    <div class="price-item"><strong>Blinkit:</strong> ₹{{ price_sources.blinkit|default:"--" }}</div>
                    <div class="price-item"><strong>Zepto:</strong> ₹{{ price_sources.zepto|default:"--" }}</div>
                    <div class="price-item"><strong>Amazon:</strong> ₹{{ price_sources.amazon|default:"--" }}</div>
                    <div class="price-item"><strong>Flipkart:</strong> ₹{{ price_sources.flipkart|default:"--" }}</div>
                </div>
            </div>
            <form method="POST" action="{% url 'addToCart' product.uuid %}" class="add-to-cart-form">
                {% csrf_token %}
                <div class="quantity-controls">
                  <button type="button" class="plusAndminus decrease-btn">−</button>
                  <input type="number" name="quantity" class="quantity-input" value="0" min="0" readonly>
                  <button type="button" class="plusAndminus increase-btn">+</button>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Add to Cart</button>
              </form>

            <div class="product-info">
                <p>
                    I'm a product detail. I'm a great place to add more information about your product such as
                    nutrition facts, source, etc.
                </p>
            </div>
        </div>
    </div>
</main>

{% endblock main %}