{% extends "base/base.html" %} 

{% block head %}
<link rel="stylesheet" href="/media/css/home.css" />
{% endblock head %} 

{% block main %}
<main>
  <article>
    <section class="section product">
      <div class="container">
        <p class="section-subtitle">-- Organic Products --</p>

        <h2 class="h2 section-title">All Organic Products</h2>

        <ul class="filter-list">
          <li>
            <button class="filter-btn active">
              <img
                src="/media/images/home/filter-1.png"
                width="20"
                alt=""
                class="default"
              />

              <img
                src="/media/images/home/filter-1-active.png"
                width="20"
                alt=""
                class="color"
              />

              <p class="filter-text">Fresh Vegetables</p>
            </button>
          </li>

          <li>
            <button class="filter-btn">
              <img
                src="/media/images/home/filter-2.png"
                width="20"
                alt=""
                class="default"
              />

              <img
                src="/media/images/home/filter-2-active.png"
                width="20"
                alt=""
                class="color"
              />

              <p class="filter-text">Fish & Meat</p>
            </button>
          </li>

          <li>
            <button class="filter-btn">
              <img
                src="/media/images/home/filter-3.png"
                width="20"
                alt=""
                class="default"
              />

              <img
                src="/media/images/home/filter-3-active.png"
                width="20"
                alt=""
                class="color"
              />

              <p class="filter-text">Healthy Fruit</p>
            </button>
          </li>

          <li>
            <button class="filter-btn">
              <img
                src="/media/images/home/filter-1.png"
                width="20"
                alt=""
                class="default"
              />

              <img
                src="/media/images/home/filter-1-active.png"
                width="20"
                alt=""
                class="color"
              />

              <p class="filter-text">Dairy Products</p>
            </button>
          </li>
        </ul>

        <ul class="grid-list">
          <li>
            <div class="product-card">
              <figure class="card-banner">
                <img
                  src="/media/images/home/product-1.png"
                  width="189"
                  height="189"
                  loading="lazy"
                  alt="Fresh Orangey"
                />

                <div class="btn-wrapper">
                  <button class="product-btn" aria-label="Add to Whishlist">
                    <ion-icon name="heart-outline"></ion-icon>

                    <div class="tooltip">Add to Whishlist</div>
                  </button>

                  <button class="product-btn" aria-label="Quick View">
                    <ion-icon name="eye-outline"></ion-icon>

                    <div class="tooltip">Quick View</div>
                  </button>
                </div>
              </figure>

              <div class="rating-wrapper">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>

              <h3 class="h4 card-title">
                <a href="./product-details.html">Fresh Orangey</a>
              </h3>

              <div class="price-wrapper">
                <del class="del">$75.00</del>

                <data class="price" value="85.00">$85.00</data>
              </div>

              <button class="btn btn-primary">Add to Cart</button>
            </div>
          </li>

          <li>
            <div class="product-card">
              <figure class="card-banner">
                <img
                  src="/media/images/home/product-2.png"
                  width="189"
                  height="189"
                  loading="lazy"
                  alt="key Lime"
                />

                <div class="btn-wrapper">
                  <button class="product-btn" aria-label="Add to Whishlist">
                    <ion-icon name="heart-outline"></ion-icon>

                    <div class="tooltip">Add to Whishlist</div>
                  </button>

                  <button class="product-btn" aria-label="Quick View">
                    <ion-icon name="eye-outline"></ion-icon>

                    <div class="tooltip">Quick View</div>
                  </button>
                </div>
              </figure>

              <div class="rating-wrapper">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>

              <h3 class="h4 card-title">
                <a href="./product-details.html">key Lime</a>
              </h3>

              <div class="price-wrapper">
                <del class="del">$75.00</del>

                <data class="price" value="85.00">$85.00</data>
              </div>

              <button class="btn btn-primary">Add to Cart</button>
            </div>
          </li>

          <li>
            <div class="product-card">
              <figure class="card-banner">
                <img
                  src="/media/images/home/product-3.png"
                  width="189"
                  height="189"
                  loading="lazy"
                  alt="Fresh Watermelon"
                />

                <div class="btn-wrapper">
                  <button class="product-btn" aria-label="Add to Whishlist">
                    <ion-icon name="heart-outline"></ion-icon>

                    <div class="tooltip">Add to Whishlist</div>
                  </button>

                  <button class="product-btn" aria-label="Quick View">
                    <ion-icon name="eye-outline"></ion-icon>

                    <div class="tooltip">Quick View</div>
                  </button>
                </div>
              </figure>

              <div class="rating-wrapper">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>

              <h3 class="h4 card-title">
                <a href="./product-details.html">Fresh Watermelon</a>
              </h3>

              <div class="price-wrapper">
                <del class="del">$75.00</del>

                <data class="price" value="85.00">$85.00</data>
              </div>

              <button class="btn btn-primary">Add to Cart</button>
            </div>
          </li>

          <li>
            <div class="product-card">
              <figure class="card-banner">
                <img
                  src="/media/images/home/product-4.png"
                  width="189"
                  height="189"
                  loading="lazy"
                  alt="Visual matches"
                />

                <div class="btn-wrapper">
                  <button class="product-btn" aria-label="Add to Whishlist">
                    <ion-icon name="heart-outline"></ion-icon>

                    <div class="tooltip">Add to Whishlist</div>
                  </button>

                  <button class="product-btn" aria-label="Quick View">
                    <ion-icon name="eye-outline"></ion-icon>

                    <div class="tooltip">Quick View</div>
                  </button>
                </div>
              </figure>

              <div class="rating-wrapper">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>

              <h3 class="h4 card-title">
                <a href="./product-details.html">Visual matches</a>
              </h3>

              <div class="price-wrapper">
                <del class="del">$75.00</del>

                <data class="price" value="85.00">$85.00</data>
              </div>

              <button class="btn btn-primary">Add to Cart</button>
            </div>
          </li>

          <li>
            <div class="product-card">
              <figure class="card-banner">
                <img
                  src="/media/images/home/product-5.png"
                  width="189"
                  height="189"
                  loading="lazy"
                  alt="Pomagranate Fruit"
                />

                <div class="btn-wrapper">
                  <button class="product-btn" aria-label="Add to Whishlist">
                    <ion-icon name="heart-outline"></ion-icon>

                    <div class="tooltip">Add to Whishlist</div>
                  </button>

                  <button class="product-btn" aria-label="Quick View">
                    <ion-icon name="eye-outline"></ion-icon>

                    <div class="tooltip">Quick View</div>
                  </button>
                </div>
              </figure>

              <div class="rating-wrapper">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>

              <h3 class="h4 card-title">
                <a href="./product-details.html">Pomagranate Fruit</a>
              </h3>

              <div class="price-wrapper">
                <del class="del">$75.00</del>

                <data class="price" value="85.00">$85.00</data>
              </div>

              <button class="btn btn-primary">Add to Cart</button>
            </div>
          </li>

          <li>
            <div class="product-card">
              <figure class="card-banner">
                <img
                  src="/media/images/home/product-6.png"
                  width="189"
                  height="189"
                  loading="lazy"
                  alt="Red onion"
                />

                <div class="btn-wrapper">
                  <button class="product-btn" aria-label="Add to Whishlist">
                    <ion-icon name="heart-outline"></ion-icon>

                    <div class="tooltip">Add to Whishlist</div>
                  </button>

                  <button class="product-btn" aria-label="Quick View">
                    <ion-icon name="eye-outline"></ion-icon>

                    <div class="tooltip">Quick View</div>
                  </button>
                </div>
              </figure>

              <div class="rating-wrapper">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>

              <h3 class="h4 card-title">
                <a href="./product-details.html">Red onion</a>
              </h3>

              <div class="price-wrapper">
                <del class="del">$75.00</del>

                <data class="price" value="85.00">$85.00</data>
              </div>

              <button class="btn btn-primary">Add to Cart</button>
            </div>
          </li>

          <li>
            <div class="product-card">
              <figure class="card-banner">
                <img
                  src="/media/images/home/product-7.png"
                  width="189"
                  height="189"
                  loading="lazy"
                  alt="Lens Results Broccoli"
                />

                <div class="btn-wrapper">
                  <button class="product-btn" aria-label="Add to Whishlist">
                    <ion-icon name="heart-outline"></ion-icon>

                    <div class="tooltip">Add to Whishlist</div>
                  </button>

                  <button class="product-btn" aria-label="Quick View">
                    <ion-icon name="eye-outline"></ion-icon>

                    <div class="tooltip">Quick View</div>
                  </button>
                </div>
              </figure>

              <div class="rating-wrapper">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>

              <h3 class="h4 card-title">
                <a href="./product-details.html">Lens Results Broccoli</a>
              </h3>

              <div class="price-wrapper">
                <del class="del">$75.00</del>

                <data class="price" value="85.00">$85.00</data>
              </div>

              <button class="btn btn-primary">Add to Cart</button>
            </div>
          </li>

          <li>
            <div class="product-card">
              <figure class="card-banner">
                <img
                  src="/media/images/home/product-8.png"
                  width="189"
                  height="189"
                  loading="lazy"
                  alt="Lens Results Spinach"
                />

                <div class="btn-wrapper">
                  <button class="product-btn" aria-label="Add to Whishlist">
                    <ion-icon name="heart-outline"></ion-icon>

                    <div class="tooltip">Add to Whishlist</div>
                  </button>

                  <button class="product-btn" aria-label="Quick View">
                    <ion-icon name="eye-outline"></ion-icon>

                    <div class="tooltip">Quick View</div>
                  </button>
                </div>
              </figure>

              <div class="rating-wrapper">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>

              <h3 class="h4 card-title">
                <a href="./product-details.html">Lens Results Spinach</a>
              </h3>

              <div class="price-wrapper">
                <del class="del">$75.00</del>

                <data class="price" value="85.00">$85.00</data>
              </div>

              <button class="btn btn-primary">Add to Cart</button>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </article>
</main>
{% endblock main %}
